html{
    margin:0 auto;
    padding:0;
    cursor:url("images/Arrow.png"),default;
}

a:hover{
    cursor:url("images/AppStarting.png"),progress;
}

body{
    background-color: #e3fdfd;
    margin:0 auto;
    padding:0;
}

.left:hover {
    background-color: #87e7d5;
    transition-duration: 0.8s;
}

.left{
    position: absolute;
    top:250px;
    left:20px;
    height: 200px;
    width: 40px;
    background-color: #a1eadd;
}

.info_img{
    height: 100%;
    width: 700px;
    text-align: center;
    float: left;
}

.info_intro{
    width: 600px;
    height: 100%;
    position: absolute;
    left:800px;
}

.play{
    margin-top:20px;
    margin-left: -280px;
}

.name{
    font-size: 45px;
    text-align: center;
}

.name h1{
    color: #40514e;
    margin-top: 200px;
}

.name h1:hover{
    color:#71c9ce;
}

#canvas{
    width: 400px;
    height: 300px;
}

.to_note{
    margin-top: 100px;
    text-align: center;
}

.to_note a{
    text-decoration: none;
    color: #40514e;
}

.to_note a p:hover{
    background-color: #71c9ce;
    transition-duration: 0.8s;
}

.to_note a p{
    background-color: #cbf1f5;
    border-radius:60px;
    padding-top: 20px;
    height: 90px;
    margin-left: 100px;
    width: 400px;
    border: 4px solid #a6e3e9;
    font-size: 50px;

}

.info_img img{
    margin-top: 110px;
    height: 500px;
    width:500px;
    border: 8px solid #71c9ce;
    border-radius: 250px;
    box-shadow: 0px 0px 200px #71c9ce;
}

.info_img_info{
    margin-top: 20px;
}

.info_img_info a{
    color: #40514e;
    font-size: 20px;
    text-decoration: none;
}

.info_img_info a:hover{
    color:#71c9ce;
}

.info_img img{
    animation: lin 20s cubic-bezier(0.1,0.1,0.1,0.1) 0s infinite;
}
@-o-keyframes lin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }

}
@-webkit-keyframes lin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@-moz-keyframes lin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@-moz-keyframes lin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes lin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}